body {
    background-color: var(--color-body);
    scrollbar-color: var(--color-scrollbar-color);
    overflow-x: hidden;
}

.topContainer {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    top: 8vh;
    position: absolute;
}

.testContainer {
    float: left;
    width: 31vw;
    height: 90vh;

    margin-right: .5vw;
    margin-left: .5vw;
    background-color: var(--color-bg);
    border-radius: 1em;

    box-shadow: 0 4px 8px 0 var(--color-shadow);
    border: 2px solid var(--color-border);

    overflow-y: auto;
}

.testList {
    list-style-type: none;
    padding: 0px;
}

.empty {
    display: none;
}

.occupied {
    display: block;
    background-color: var(--color-button);
    border: none;
    color: var(--color-button-text);
    
    border-radius: .5em;
    margin-top: 1vh;

    height: 4.6vh;
    width: 90%;
    left: 5%;
    position: relative;

    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size: 1.2em;
    line-height: 1.7em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    text-decoration: none;

    outline-style: none;

    cursor: pointer;
}

.occupied:hover {
    background-color: var(--color-button-hover);
    transition: all .05s ease-in-out;
}

.active {
    background-color: var(--color-active) !important;
    color: var(--color-text);
}

.seperator {
    float: left;
    width: .3vw;
    height: 90vh;
    background-color: gray;
    border-radius: 1em;
}

*::-moz-focus-inner {
    outline: none;
    border:none;
}

*::-moz-focus-outer {
    outline: none;
    border: none;
}

.todo {
    background-color: var(--color-todo-bg);
    color: var(--color-title-text);
    border-radius: .5em;
    border: 2px solid var(--color-todo-border);
    height: 5vh;

    float: left;
    position: relative;
    left: 1vw;
    top: 1vh;

    padding-left: .7vw;
    padding-right: .7vw;

    line-height: 2.2em;
}

.titleCard {
    position: absolute;
    text-align: center;
    left: 40.5%;
    top: 5px;
    font-size: 2.5em;
    color: var(--color-title-text);
}

.switch {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 50px;
    height: 24px;
    float: right;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 34px;
    display: inline;

    overflow-x: auto;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 50%;
    display: inline;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--color-bg);
    overflow-x: hidden;
    transition: 0.5s;
    text-align:center;
    z-index: 100;
}
  
.sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  
}
  
.sidenav a:hover{
    color: #f1f1f1;
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.closebtn {
    cursor: pointer;
}

.navButton {
    font-size:20px;
    cursor:pointer;
    width: 30px;
    height: 30px;
    background-color: var(--color-bg);
    border: none;
    margin-left: 5px;
}

.line {
    background-color: var(--color-title-text);
    height: 5px;
    width: 30px;
    margin-top: 5px;
    border-radius: 5px;
}

.navBg {
    background-color: none;
    width: 30px;
    height: 30px;
    margin-top: -30px;
}