:root {
    --color-body: white;
    --color-bg: white;
    --color-button: #cacbcd;
    --color-button-hover: #999999;
    --color-button-text: black;
    --color-active: #2185d0;
    --color-text: white;
    --color-title-text: black;
    --color-border: rgba(13, 13, 14, 0.15);
    --color-shadow: #858593;
    --color-todo-bg: #f2f3f5;
    --color-todo-border: rgba(34,36,38,.15);
    --color-scrollbar-color: #7e8182 #cecece;
}

[data-theme="dark"] {
    --color-body: #181a1b;
    --color-bg: #181a1b;
    --color-button: #272a2b;
    --color-button-hover: #3e4344;
    --color-button-text: lightgray;
    --color-active: #2185d0;
    --color-text: white;
    --color-title-text: white;
    --color-border: #616168;
    --color-shadow: #0D0E0E;
    --color-todo-bg: rgb(28, 30, 31);
    --color-todo-border: rgb(37, 40, 41);
    --color-scrollbar-color: #2a2c2e #1c1e1f;
}

.sidenav {
    border-right: 5px solid white;
}

.bottomBar {
    color: var(--color-text);
    position: absolute;
    width: 99%;
    height: 10%;
    bottom: 0%;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    min-width: 200px;
}

.menuList {
    list-style: none;
    position: relative;
    top: 50px;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    min-width: 25vw;
}

.linkIcon {
    margin-top: 0.75em;
    width: 30px;
    height: 30px;
    position: relative;
    left: -130px;
    background-color: var(--color-text);
    display: inline-block;

    cursor: pointer;
}

.menuLink {
    color: var(--color-text);
    display: inline-block;
    font-size: 1.5em;
    top: -0.25em;
    left: -130px;
    position: relative;
    margin-left: 10px;

    cursor: pointer;
    
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.userIcon {
    width: 50px;
    height: 50px;
    background-color: white;
    display: inline-block;
    position: absolute;
    left: 5px;
    bottom: 10px;
    border-radius: 50%;
}

.userName {
    display: inline;
    top: 7px;
    left: 70px;
    font-size: 1.5em;
    position: absolute;
}

.userType {
    display: inline;
    bottom: 12px;
    left: 70px;
    font-size: 1em;
    position: absolute;
}


.logoutButton {
    font-size: 2.5em !important;
    color: var(--color-text);
    position: absolute;
    left: 295px;
    bottom: 12px;
    display: inline-block;
    cursor: pointer;
}

.verticalSeperator {
    height: 3px;
    left: 5px;
    right: 5px;
    border-radius: 15px;
    background-color: gray;
    position: absolute;
}

.closeButton {
    color: var(--color-text);
    font-size: 2.5em !important;
    margin-left: 275px;
    top: 5px;
    position: relative;
    cursor: pointer;
}