:root {
    --color-body: white;
    --color-bg: white;
    --color-button: #cacbcd;
    --color-button-hover: #999999;
    --color-button-text: black;
    --color-active: #2185d0;
    --color-text: white;
    --color-title-text: black;
    --color-border: rgba(13, 13, 14, 0.15);
    --color-shadow: #858593;
    --color-todo-bg: #f2f3f5;
    --color-todo-border: rgba(34,36,38,.15);
    --color-scrollbar-color: #7e8182 #cecece;
}

[data-theme="dark"] {
    --color-body: #181a1b;
    --color-bg: #181a1b;
    --color-button: #272a2b;
    --color-button-hover: #3e4344;
    --color-button-text: lightgray;
    --color-active: #2185d0;
    --color-text: white;
    --color-title-text: white;
    --color-border: #616168;
    --color-shadow: #0D0E0E;
    --color-todo-bg: rgb(28, 30, 31);
    --color-todo-border: rgb(37, 40, 41);
    --color-scrollbar-color: #2a2c2e #1c1e1f;
}

body {
    background-color: var(--color-bg);
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    min-width: 1000px;
}

.usable {
    background-color: #444;
    width: 100%;
    height: 100%;
    top: 0px;
    position: absolute;
}

.bottomBar {
    color: var(--color-text);
    position: absolute;
    width: 99%;
    height: 10%;
    bottom: 0%;
    border: 1px solid red;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    min-width: 200px;
}

ul {
    list-style: none;
    position: relative;
    top: 100px;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    min-width: 1000px;
}

.linkIcon {
    margin-top: 0.75em;
    width: 30px;
    height: 30px;
    background-color: var(--color-text);
    display: inline-block;
}

.menuLink {
    color: var(--color-text);
    display: inline;
    font-size: 1.5em;
    top: -0.25em;
    
    position: relative;
    margin-left: 10px;
}

.userIcon {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 9px;
    background-color: var(--color-text);
    display: inline-block;
    border-radius: 50%;
}

.userName {
    display: inline;
    top: -15px;
    font-size: 1.5em;
    position: relative;
}

.logoutButton {
    font-size: 2.5em !important;
    color: var(--color-text);
    position: absolute;
    right: 3%;
    bottom: 10%;
    display: inline-block;
}