:root {
    --color-body: white;
    --color-bg: white;
    --color-button: #cacbcd;
    --color-button-hover: #999999;
    --color-button-text: black;
    --color-active: #2185d0;
    --color-text: white;
    --color-title-text: black;
    --color-border: rgba(13, 13, 14, 0.15);
    --color-shadow: #858593;
    --color-todo-bg: #f2f3f5;
    --color-todo-border: rgba(34,36,38,.15);
    --color-scrollbar-color: #7e8182 #cecece;
    --color-vis-fg: #1F1F1F;
}

[data-theme="dark"] {
    --color-body: #181a1b;
    --color-bg: #181a1b;
    --color-button: #272a2b;
    --color-button-hover: #3e4344;
    --color-button-text: lightgray;
    --color-active: #2185d0;
    --color-text: white;
    --color-title-text: white;
    --color-border: #616168;
    --color-shadow: #0D0E0E;
    --color-todo-bg: rgb(28, 30, 31);
    --color-todo-border: rgb(37, 40, 41);
    --color-scrollbar-color: #2a2c2e #1c1e1f;
    --color-vis-fg: #E0E0E0;
}